@use "./Theme";

.automation {
  .progress-bar {
    font-size: smaller;

    justify-content: left;
    text-align: left;

    padding: 0.25em 0.5em;

    .primary {
      color: Theme.color(positive, 30%);
      background: Theme.color(positive, 15%);
    }

    .secondary {
      color: Theme.color(neutral, 30%);
      background: Theme.color(neutral, 15%);
    }

    .disabled {
      color: Theme.color(negative, 30%);
      background: Theme.color(negative, 15%);
    }
  }

  .icon {
    display: inline-block;
    align-items: center;
    vertical-align: middle;

    width: 1em;
    height: 1em;
    margin: 0;
  }
}
