@use "./Theme";

.board-state {
  &-inactive {
    background: Theme.colors($primary: 15%, $secondary: 100%);
  }

  &-active {
    background: Theme.colors($neutral: 15%, $secondary: 100%);
  }

  &-won {
    background: Theme.colors($positive: 15%, $secondary: 100%);
  }

  &-lost {
    background: Theme.colors($negative: 15%, $secondary: 100%);
  }
}
