.board-controls {
  gap: 5px 0;

  background-color: #eef8f8;

  input {
    margin-left: 5px;

    &[type="number"] {
      width: 4em;
    }

    &[type="range"] {
      width: auto;
    }

    &[type="button"] {
      width: 100%;
    }
  }
}
