.buy-button {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  white-space: nowrap;

  .resource {
    flex-wrap: nowrap;
  }

  &-affordable {
    color: rgba(0, 0, 0, 1);
  }

  &-unaffordable {
    color: rgba(63, 63, 63, 0.75);
  }
}
