@use "./Theme";

.buy-button {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  white-space: nowrap;

  .resource {
    flex-wrap: nowrap;
  }

  &-affordable {
    color: rgba(Theme.$textColor);
  }

  &-unaffordable {
    color: rgba(Theme.$textColor / 66%);
  }
}
