@use "./Theme";

.cell {
  width: 1px;
  height: 1px;
  overflow: hidden;

  cursor: pointer;
  user-select: none;
  touch-action: pan-x;

  > div {
    display: flex;
    align-items: center;

    pointer-events: none;
  }

  .icon {
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    height: 80%;
  }

  &-hidden {
    @include Theme.background($primary: 13%, $secondary: 100%);
  }

  &-revealed {
    @include Theme.background($primary: 7%, $secondary: 100%);
  }

  &-hinted {
    @include Theme.background($positive: 20%, $secondary: 100%);
  }

  &-flagged {
    @include Theme.background($primary: 20%, $secondary: 100%);
  }

  &-blown {
    @include Theme.background($primary: 40%, $secondary: 100%);
  }
}
