.cell {
  @extend .uk-text-center;
  @extend .uk-text-middle;

  @extend .uk-background-contain;

  @extend .uk-overflow-hidden;
}

.cell-small {
  @extend .cell;
  @extend .uk-text-small;

  width: 16px;
  height: 16px;
}

.cell-medium {
  @extend .cell;
  @extend .uk-text-default;

  width: 32px;
  height: 32px;
}

.cell-large {
  @extend .cell;
  @extend .uk-text-large;

  width: 64px;
  height: 64px;
}

.cell-hidden {
  background-color: #dddddd;
}

.cell-revealed {
  background-color: #eeeeee;
}

.cell-hinted {
  background-color: #ddffdd;
}

.cell-flagged {
  background-color: #cccccc;
  background-image: url(assets/bomb-unlit.svg);
}

.cell-blown {
  background-color: #999999;
  background-image: url(assets/bomb-blown.svg);
}
