.cell {
  @extend .uk-background-muted;
}

.cell-small {
  @extend .cell;
  @extend .uk-text-small;

  width: 16px;
  height: 16px;
}

.cell-medium {
  @extend .cell;
  @extend .uk-text-default;

  width: 32px;
  height: 32px;
}

.cell-large {
  @extend .cell;
  @extend .uk-text-large;

  width: 64px;
  height: 64px;
}

.bomb-diffused {
  background-image: url(assets/bomb-unlit.svg);
}

.bomb-blown {
  background-image: url(assets/bomb-blown.svg);
}
