@use "./Theme";

.cell {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  line-height: 1;
  overflow: hidden;

  width: 1px;
  height: 1px;

  cursor: default;

  > div {
    display: flex;
    align-items: center;
  }

  .icon {
    display: inline-block;
    margin: 0 auto;
  }

  &-hidden {
    @include Theme.background($primary: 13%, $secondary: 100%);
  }

  &-revealed {
    @include Theme.background($primary: 7%, $secondary: 100%);
  }

  &-hinted {
    @include Theme.background($positive: 20%, $secondary: 100%);
  }

  &-flagged {
    @include Theme.background($primary: 20%, $secondary: 100%);
  }

  &-blown {
    @include Theme.background($primary: 40%, $secondary: 100%);
  }
}
