.cell {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  line-height: 1;
  overflow: hidden;

  width: 1px;
  height: 1px;

  cursor: default;

  > div {
    display: flex;
    align-items: center;
  }

  .icon {
    display: inline-block;
    margin: 0 auto;
  }

  &-hidden {
    background-color: #dddddd;
  }

  &-revealed {
    background-color: #eeeeee;
  }

  &-hinted {
    background-color: #ddeedd;
  }

  &-flagged {
    background-color: #cccccc;
  }

  &-blown {
    background-color: #999999;
  }
}
