@use "./Theme";

[theme="light"],
[theme="jumbo-light"] {
  @include Theme.color-theme(
    $primary: black,
    $secondary: white,
    $positive: green,
    $negative: maroon,
    $neutral: navy
  );
}

[theme="dark"],
[theme="jumbo-dark"] {
  @include Theme.color-theme(
    $primary: white,
    $secondary: black,
    $positive: lightgreen,
    $negative: lightpink,
    $neutral: lightcyan
  );
}

[theme="jumbo-light"],
[theme="jumbo-dark"] {
  --font-size: x-large;
  --font-weight: bold;
}
