.game-controls {
  margin-top: 5px !important;
  gap: 5px 0;

  background-color: #eef8f8;

  button {
    margin: 0 0.5em;
  }

  .resource {
    flex-wrap: nowrap;
  }

  .computed {
    padding-inline-start: 1em;
    font-size: 80%;
    color: #333333;
  }
}
