@use "./Theme";

.game-controls {
  margin-top: 5px;
  gap: 5px 0;

  background: Theme.colors($neutral: 7%, $positive: 7%, $secondary: 100%);

  button {
    margin: 0 0.5em;
  }

  .resource {
    flex-wrap: nowrap;
  }

  .computed {
    padding-inline-start: 1em;
    font-size: 80%;
    color: Theme.color(primary, 75%);
  }
}
