@use "./Theme";

#icon {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}

.icon {
  pointer-events: none;
  stroke-width: 2;

  &-hidden {
    color: transparent;
  }

  &-revealed {
    color: Theme.color(positive);
  }

  &-hinted {
    color: Theme.color(positive, 50%);
  }

  &-flagged {
    color: Theme.color(neutral);
  }

  &-blown {
    color: Theme.color(negative);
  }

  &-inactive {
    color: Theme.color(primary, 50%);
  }

  &-active {
    color: Theme.color(primary);
  }

  &-won {
    color: Theme.color(positive);
  }

  &-lost {
    color: Theme.color(negative);
  }
}
