.minefield {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;

  width: auto;

  td {
    padding: 0;
    margin: 0;
    border: 1px solid #aaaaaa;

    vertical-align: middle;
    text-align: center;
  }

  &-chrome {
    padding: 0;
    display: flow-root;
    box-sizing: content-box;
    max-width: 640px;
    margin: auto;
  }
}
