.minefield {
  display: flow-root;
  box-sizing: content-box;

  padding: 0;
  margin: auto;

  max-width: 640px;

  table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;

    width: auto;
  }

  th {
    text-align: start;

    button {
      margin: 1px 0;
      padding: 2px 1em;
    }
  }

  td {
    padding: 0;
    margin: 0;
    border: 1px solid #aaaaaa;

    vertical-align: middle;
    text-align: center;
  }
}
