@use "./Theme";

.minefield {
  display: flow-root;
  box-sizing: content-box;

  padding: 0;
  margin: auto;

  max-width: 640px;

  table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;

    width: auto;
  }

  td {
    padding: 0;
    margin: 0;
    border: 1px solid Theme.color(primary, 33%);

    vertical-align: middle;
    text-align: center;
  }
}
