.mode-controls {
  background-color: #ddddff;

  button {
    margin: 2px;
    padding: 2px;

    background-color: #dddddd;

    &.selected {
      background-color: #eef8f8;
    }
  }

  span {
    margin-right: 1ex;
  }

  .icon {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin: 0;
  }
}
