@use "./Theme";

.mode-controls {
  background: Theme.colors($neutral: 15%, $secondary: 100%);

  button {
    margin: 2px;
    padding: 2px;

    &.selected {
      background: Theme.colors($positive: 20%, $secondary: 100%);
    }
  }

  span {
    margin-right: 1ex;
  }

  .icon {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin: 0;
  }
}
