.navbar {
  display: flex;
  flex-flow: row wrap;
  position: relative;

  background-color: #eeeeee;

  > div {
    display: flex;
    flex: 1;
    align-items: center;
    white-space: nowrap;
  }

  .spacer {
    flex: 9 0;
  }

  .active {
    background-color: #aaaaee;
  }

  a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    padding: 0 15px;
    column-gap: 0.25em;
    min-height: 2em;
    box-sizing: border-box;

    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
  }
}
