.options {
  gap: 10px 0;
  margin-bottom: 20px;
  font-family: monospace, monospace;

  input {
    &[type="button"] {
      width: 75%;
      padding: 1em;
      font-size: large;
    }
  }

  textarea {
    width: 100%;
    height: 5em;
    margin: 0 1em;
  }
}
