.panel {
  max-width: 640px;
  margin: auto;
  padding: 5px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  border: 1px solid black;
  border-radius: 1ex;
  box-sizing: border-box;

  div {
    display: inline-flex;
    align-items: center;
  }

  > hr {
    flex: 0 9 100%;

    border: 0;
    margin: 0;
    padding-bottom: 5px;
  }

  .left {
    justify-content: flex-start;
  }

  .center {
    justify-content: center;
  }

  .right {
    justify-content: flex-end;
  }

  .full {
    width: 100%;
  }

  .half {
    width: 50%;
  }

  .third {
    width: 33%;
  }

  .quarter {
    width: 25%;
  }

  .separator {
    border-bottom: 1px dashed black;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .spacer {
    flex: 9 0;
  }

  .title-bar {
    @extend .center;
    @extend .full;
    @extend .separator;

    padding-bottom: 5px;
    font-weight: bold;
  }
}
