.progress-circle {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  > .children {
    flex-flow: row wrap;
    justify-content: center;
  }

  > svg {
    position: absolute;
    pointer-events: none;

    > circle {
      fill: transparent;
      stroke-width: 2.5;
      stroke-linecap: round;
    }
  }

  .primary {
    stroke: cyan;
  }

  .secondary {
    stroke: lightcyan;
  }
}
