.progress-circle {
  position: relative;
  display: inline-block;

  border-radius: 100%;

  > .children {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .primary {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
}
