.reset-box {
  position: absolute;
  display: block;

  left: calc(50% - 160px);
  top: calc(50% - 160px);
  width: 320px;
  height: 320px;
  z-index: 8;

  background-color: transparent;

  span {
    display: block;
    width: 100%;
  }

  input[type="button"] {
    padding: 0.5em 1em;
    font-size: large;
  }

  circle {
    stroke-width: 5 !important;
  }

  .panel {
    height: 100%;
    gap: 10px 0;

    justify-content: start;
    text-align: center;
  }

  .primary {
    stroke: rgba(127, 255, 255, 0.5);
  }

  .secondary {
    stroke: transparent;
  }
}
