@use "./Theme";

.reset-box {
  position: absolute;
  display: block;

  left: calc(50% - 160px);
  top: calc(50% - 160px);
  width: 320px;
  height: 320px;
  z-index: 8;

  background-color: transparent;

  span {
    display: block;
    width: 100%;
  }

  input[type="button"] {
    padding: 0.5em 1em;
    font-size: larger;
  }

  .progress-circle {
    z-index: 9;
    margin: 5px 0;
  }

  .panel {
    height: 100%;
    gap: 10px 0;

    justify-content: start;
    text-align: center;
  }

  .primary {
    stroke: Theme.color(neutral, 50%);
    stroke-width: 6;
  }

  .secondary {
    stroke: transparent;
    stroke-width: 0;
  }

  .board-state {
    &-won {
      @include Theme.background($positive: 15%, $secondary: 85%);
      text-shadow: Theme.color(positive) 0 0 1em;
    }

    &-lost {
      @include Theme.background($negative: 15%, $secondary: 85%);
      text-shadow: Theme.color(negative) 0 0 1em;
    }
  }
}
