@use "./Theme";

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;

  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;

  margin: 0;
  height: 100%;
  overflow: visible;

  background-color: rgba(Theme.$backgroundColor);
  color: rgba(Theme.$textColor);
}

:root,
:root[theme="default"] {
  --background-color: 255 255 255;
  --text-color: 0 0 0;
}

:root[theme="inverted"] {
  --background-color: 0 0 0;
  --text-color: 255 255 255;
}
