.scoreboard {
  &-inactive {
    background-color: #dddddd;
  }

  &-active {
    background-color: #ddddff;
  }

  &-won {
    background-color: #ddffdd;
  }

  &-lost {
    background-color: #ffdddd;
  }
}
