.scoreboard {
  display: flex;

  &-segment {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0px 1ex;
  }

  &-left {
    justify-content: flex-start;
  }

  &-center {
    justify-content: center;
  }

  &-right {
    justify-content: flex-end;
  }

  &-inactive {
    background-color: #dddddd;
  }

  &-active {
    background-color: #ddddff;
  }

  &-won {
    background-color: #ddffdd;
  }

  &-lost {
    background-color: #ffdddd;
  }
}
