@use "sass:meta";
@use "sass:string";

[theme] {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;
  --font-fixed: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-size: medium;
  --font-weight: normal;

  --primary-color: 0% 0% 0%;
  --secondary-color: 100% 100% 100%;

  --positive-color: 0% 50% 0%;
  --negative-color: 50% 0% 0%;
  --neutral-color: 0% 0% 50%;
}

@function color($name, $alpha: "") {
  @if $alpha == "" or $alpha == 100% {
    @return rgba(var(--#{$name}-color));
  } @else {
    @return rgba(var(--#{$name}-color) / $alpha);
  }
}

@function colors($args...) {
  $str: "";

  @each $color, $alpha in meta.keywords($args) {
    $color: color($color, $alpha);

    @if $str != "" {
      $str: $str + " , ";
    }
    $str: $str + linear-gradient(to right, $color, $color);
  }

  @return string.unquote($str);
}

.themed {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);

  color: color(primary);
}
