.tutorial {
  position: absolute;
  display: block;
  z-index: 10;

  background-color: transparent;

  .panel {
    height: 100%;

    justify-content: start;
    text-align: center;

    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

.greyout {
  position: absolute;
  display: block;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;

  background-color: rgba(0, 0, 0, 0.6);
}
